#volume {
  width: 250px;
}

.ui-slider-horizontal {
  background: #000000 !important;
  border: 1px solid #000000 !important;
  height: 8px !important;
}

.ui-slider-range-min {
  background: url("img/metal-slider-fill.png") repeat-x !important;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ui-slider-handle {
  background: url("img/metal-slider-handle.png") !important;
  border: none !important;
  width: 25px !important;
  height: 25px !important;
  outline: none;
  top: -9px !important;
}
