.navbar-inverse {
  margin-bottom: 0;
  background-color: #262626;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  border-bottom: 1px solid #000000;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #000000;
}
.navbar-collapse.in {
  max-height: none;
  overflow-y: visible;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand:hover {
  color: #fff;
  background-color: #202020;
}
.navbar-inverse .navbar-brand-img {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-inverse .navbar-toggle {
  padding: 0 18px;
  margin: 0;
  height: 50px;
  color: #fff;
  color: #727272;
  font-size: 17px;
  text-align: center;
  line-height: 50px;
  border: none;
  outline: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
  color: #595959;
  background-color: #353535;
}
.navbar-inverse .navbar-toggle.is-open {
  color: #fff;
  background-color: #353535;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #202020;
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:active,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #202020;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #202020;
}
.navbar-inverse .navbar-nav > .navbar-profile > a {
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}
.navbar-profile-avatar {
  position: relative;
  top: -1px;
  width: 30px;
  margin-right: .65em;
  border: 2px solid #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navbar-profile-label {
  display: inline;
  font-size: 13px;
}
.navbar-profile-label-visible {
  display: inline !important;
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-profile-label {
    display: none;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}
.navbar-visible-collapsed {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-visible-collapsed {
    display: none;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
  }
  .navbar .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  .navbar-right .dropdown-menu:before {
    right: 9px;
    left: auto;
  }
}
.mainnav-caret:before {
  display: inline-block;
  position: relative;
  top: 0;
  margin-left: .25em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f0d7";
  -webkit-font-smoothing: antialiased;
}
.navbar {
  min-height: 60px;
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  height: 60px;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background: #2d2d2d;
  border-bottom-color: #656565;
}
.navbar-inverse .navbar-nav > li.active > a {
  background: #1e1e1e;
  border-bottom-color: #6b5c93;
}
.navbar-social-label {
  display: inline;
  padding-left: .4em;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-social > li > a {
    padding-right: 10px;
    padding-left: 10px;
    color: #656565;
    font-size: 18px;
    font-weight: 800;
  }
  .navbar-social-label {
    display: none;
  }
}
