.btn {
    margin-bottom: 2px;
    margin-right: 2px;
    width: 180px;
}

.btn-override:hover, .btn-override:visited, .btn-override:active {
    cursor: inherit;
    box-shadow: none;
}

.align-row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn-override em {
    display: block;
    font-size: 10px;
    font-style: normal;
    color: rgba(255,255,255,0.6);
}

body {
    margin-bottom: 16px;
}

 .tweets {
  margin: 0;
  height: 150px;
  overflow-y: auto;
}

 .tweets li {
  height: 27px;
  line-height: 27px;
  width: 368px;
  vertical-align: middle;
  color: #4B434D;
  list-style-type: none;
  margin-bottom: 14px;
}

 .tweets img {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

 .tweets .tweet {
  max-width: 300px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

 .tweets .time {
  color: #9B9B9B;
  float: right;
}

.tweets .new {
  animation: drop 500ms;
  -webkit-animation: drop 500ms;
}
